<% const description = obj.description || '' %> <% const author = obj.author ||
false %>
<div
  class="card"
  data-card-type="product"
  data-display-type="<%= displayType %>"
>
  <div class="product-cover ratio ratio-1x1">
    <img src="<%= require(`../../../images/${cover}`) %>" alt="" />
    <% if('productType' in obj) { %>
    <div
      class="product-tag"
      data-product-type="<%= productType.toLowerCase() %>"
    >
      <%= productType %>
    </div>
    <% } %>
  </div>
  <div class="product-summary">
    <div class="row header">
      <div class="col title">
        <h3><%= title %></h3>
        <% if((displayType == 'row' || displayType == 'mini') && description !==
        '') { %>
        <p class="description"><%= description %></p>
        <% } %>
      </div>
      <div class="col wish d-flex align-items-start">
        <button title="Add to wishlist" aria-label="Add to wishlist">
          <i><%= require('/src/images/icons/love.svg?inline') %></i>
          Add to wishlist
        </button>
      </div>
    </div>

    <div class="row footer">
      <% if(author) { %>
      <div class="<%= displayType == 'col' ? 'col-12' : 'col' %>">
        <%= require('../author.html')({photo: author.photo, name: author.name,
        company: author.company}) %>
      </div>
      <% } %>

      <div class="<%= displayType == 'col' ? 'col-12' : 'col' %>">
        <%= require('../rating.html')({value: rating}) %>

        <div class="price" <%= (price <= 0) ? 'data-is-free="true"' : '' %>> <% if(price > 0) { %> <span>$</span
          ><span><%= price %></span>
          <% } else if (price <= 0) { %>
          <span>Free</span>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
