<main class="explore">
  <div class="container">
    <div class="row flex-row-reverse">
      <!-- List / Grid -->
      <div class="content col-9">
        <div class="content-topbar">
          <div class="row">
            <div
              class="topbar-wrap d-flex justify-content-between align-items-center"
            >
              <div class="counter">
                Showing <strong>1 - 15</strong> contents out of
                <strong>76</strong> in total
              </div>
              <div class="view-switch switch-group">
                <a
                  class="switch-button switch-active"
                  href="#"
                  data-toggle="grid"
                  ><i
                    ><%= require('../../images/icons/grid.svg?inline') %></i
                  ></a
                >
                <a class="switch-button" href="#" data-toggle="list"
                  ><i
                    ><%= require('../../images/icons/list.svg?inline') %></i
                  ></a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="content-catalog"><%= require('./grid.html')() %></div>

        <div class="content-pagination">
          <%= require('../partials/pagination.html')() %>
        </div>
      </div>

      <!-- Filter -->
      <%= require('./filter.html')() %>
    </div>
  </div>
</main>
