<section class="curriculum">
  <div class="curriculum-top">
    <h2>Course Curriculum</h2>

    <div class="info">
      <div class="length">
        <span>2 sections</span><span>&nbsp;•&nbsp;</span><span>6 lessons</span
        ><span>&nbsp;•&nbsp;</span><span>2h 1m total length</span>
      </div>
      <a href="#" class="lessons-sections-toggle"
        >Expand all lessons sections</a
      >
    </div>
  </div>

  <div class="lessons accordion">
    <div class="section accordion-item" data-expanded="true">
      <div class="section-header">
        <h3 class="section-title">Introduction</h3>
        <div class="section-counter">4 lessons</div>
        <button class="accordion-toggler">
          <i><%= require('../../images/icons/collapse.svg?inline') %></i>
        </button>
      </div>

      <div class="section-content accordion-item-content">
        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#1</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              At Mauris Nisi: Elit Tincidunt Interdum
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="podcast">Podcast</div>
              <div class="lesson-duration">5:42</div>
            </div>
          </div>
        </div>

        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#2</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Ullamco cillum irure cillum nulla occaecat.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">11:05</div>
            </div>
          </div>
        </div>

        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#3</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title"
              >Sint velit ut dolore Lorem ea ex.</a
            >
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="webinar">Webinar</div>
              <div class="lesson-duration">25:28</div>
            </div>
          </div>
        </div>

        <div class="lesson is-playing">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#4</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Quis sit id nostrud esse reprehenderit labore deserunt magna.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">29:51</div>
              <div class="lesson-playing">Now playing</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section accordion-item" data-expanded="false">
      <div class="section-header">
        <h3 class="section-title">Vel Egestas de Yoga</h3>
        <div class="section-counter">2 lessons</div>
        <button class="accordion-toggler">
          <i><%= require('../../images/icons/collapse.svg?inline') %></i>
        </button>
      </div>

      <div class="section-content accordion-item-content">
        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#5</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Mollit proident nulla ex do dolor anim deserunt excepteur minim
              sit velit et.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">31:22</div>
            </div>
          </div>
        </div>

        <div class="lesson is-locked">
          <div class="lesson-status">
            <i><%= require('../../images/icons/lock.svg?inline') %></i>
          </div>
          <div class="lesson-order">#6</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Sunt enim irure elit reprehenderit officia qui quis ullamco aliqua
              exercitation aliquip.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">17:43</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
