<!-- prettier-ignore -->
<%
const curriculum = Array.from(obj);
const sectionCount = curriculum.length;
const lessonsCount = curriculum.reduce((acc, section) => acc + section.lessons.length, 0);
const totalTimeLength = curriculum.reduce((acc, section) => {
  return acc + section.lessons.reduce((_acc, lesson) => _acc + lesson.duration, 0)
}, 0);
const formatTime = (totalSeconds, useAbbr = false) => {
  const h = Math.floor(totalSeconds / 3600);
  const m = Math.floor((totalSeconds % 3600) / 60);
  const s = Math.floor(totalSeconds % 60);
  let str = '';

  if (useAbbr) {
    str = `${h}h ${m}m ${s}s`
  } else {
    if (h > 0) {
      str += `${h}:${m < 10 ? '0' : ''}`
    }
    str += `${m}:${s < 10 ? '0' : ''}${s}`
  }

  return str;
}
%>
<section class="curriculum">
  <div class="curriculum-top">
    <h2>Course Curriculum</h2>

    <div class="info">
      <div class="length">
        <span><%= sectionCount %> sections</span><span>&nbsp;•&nbsp;</span
        ><span><%= lessonsCount %> lessons</span><span>&nbsp;•&nbsp;</span
        ><span><%= formatTime(totalTimeLength, true) %> total length</span>
      </div>
      <a href="#" class="curriculum-accordion-toggle-all" data-trigger="expand"
        >Expand all lessons sections</a
      >
    </div>
  </div>

  <div class="curriculum-accordion accordion">
    <% let i = 0; curriculum.forEach(section => { %>
    <div class="accordion-item">
      <div class="accordion-item-header">
        <h3 class="title"><%= section.name %></h3>
        <div class="lessons-counter"><%= section.lessons.length %> lessons</div>
        <button class="accordion-toggler">
          <%= require('../../images/icons/collapse.svg?inline') %>
        </button>
      </div>

      <div class="accordion-item-content">
        <% section.lessons.forEach(lesson => { %>
        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#<%= ++i %></div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title"><%= lesson.title %></a>
            <div class="lesson-meta">
              <div
                class="product-tag"
                data-product-type="<%= lesson.type.toLowerCase() %>"
              >
                <%= lesson.type %>
              </div>
              <div class="lesson-duration">
                <%= formatTime(lesson.duration) %>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <% }) %>

    <!-- <div class="accordion-item">
      <div class="accordion-item-header">
        <h3 class="title">Introduction</h3>
        <div class="lessons-counter">4 lessons</div>
        <button class="accordion-toggler">
          <%= require('../../images/icons/collapse.svg?inline') %>
        </button>
      </div>

      <div class="accordion-item-content">
        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#1</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              At Mauris Nisi: Elit Tincidunt Interdum
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="podcast">Podcast</div>
              <div class="lesson-duration">5:42</div>
            </div>
          </div>
        </div>

        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#2</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Ullamco cillum irure cillum nulla occaecat.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">11:05</div>
            </div>
          </div>
        </div>

        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#3</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title"
              >Sint velit ut dolore Lorem ea ex.</a
            >
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="webinar">Webinar</div>
              <div class="lesson-duration">25:28</div>
            </div>
          </div>
        </div>

        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#4</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Quis sit id nostrud esse reprehenderit labore deserunt magna.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">29:51</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="accordion-item">
      <div class="accordion-item-header">
        <h3 class="title">Vel Egestas de Yoga</h3>
        <div class="lessons-counter">2 lessons</div>
        <button class="accordion-toggler">
          <%= require('../../images/icons/collapse.svg?inline') %>
        </button>
      </div>

      <div class="accordion-item-content">
        <div class="lesson">
          <div class="lesson-status">
            <i><%= require('../../images/icons/play.svg?inline') %></i>
          </div>
          <div class="lesson-order">#5</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Mollit proident nulla ex do dolor anim deserunt excepteur minim
              sit velit et.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">31:22</div>
            </div>
          </div>
        </div>

        <div class="lesson is-locked">
          <div class="lesson-status">
            <i><%= require('../../images/icons/lock.svg?inline') %></i>
          </div>
          <div class="lesson-order">#6</div>
          <div class="lesson-detail">
            <a href="#" class="lesson-title">
              Sunt enim irure elit reprehenderit officia qui quis ullamco aliqua
              exercitation aliquip.
            </a>
            <div class="lesson-meta">
              <div class="product-tag" data-product-type="video">Video</div>
              <div class="lesson-duration">17:43</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
