<header>
  <h1>Cillum Nulla Dolore Voluptate Deserunt</h1>
  <p>
    Cupidatat aliquip veniam enim excepteur incididunt. Consequat reprehenderit
    ullamco sunt nulla irure nostrud nostrud do. Commodo eu magna aute ad
    nostrud cupidatat incididunt amet culpa est consequat eu.
  </p>
  <div class="info">
    <div class="product-tag" data-product-type="course">Course</div>

    <%= require('../partials/rating.html')({value: 4.66}) %>

    <div class="v-separator"></div>

    <div class="enrolled">50 enrolled</div>

    <div class="v-separator"></div>

    <div class="language">English</div>
  </div>
</header>
