<main class="content-details">
  <article>
    <div class="content-details-top">
      <div class="container">
        <div class="content-wrap">
          <%=
          require('../partials/breadcrumb.html')(JSON.stringify(String(templateData.bread_nav).split(',')))
          %> <%= require('./header.html')({title: templateData.title, desc:
          templateData.about_short, type: templateData.type, rating:
          templateData.rating, enrolled: templateData.enrolled, language:
          templateData.lang}) %>
        </div>
      </div>
    </div>

    <div class="content-details-bottom">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="sidebar-container col-auto">
            <%= require('./sidebar.html')({cover: templateData.cover, title:
            templateData.title, price: templateData.price}) %>
          </div>

          <div class="content-wrap col">
            <section class="objectives-accordion accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  <h2 class="title">Course Objectives</h2>
                  <button class="accordion-toggler">
                    <%= require('../../images/icons/collapse.svg?inline') %>
                  </button>
                </div>
                <div class="accordion-item-content">
                  <%= templateData.objectives %>
                </div>
              </div>
            </section>

            <section class="description-accordion accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">
                  <h2 class="title">About This Course</h2>
                  <button class="accordion-toggler">
                    <%= require('../../images/icons/collapse.svg?inline') %>
                  </button>
                </div>
                <div class="accordion-item-content">
                  <%= templateData.about_long %>
                </div>
              </div>
            </section>

            <%= require('./curriculum.html')(templateData.curriculum) %>

            <section class="author-container">
              <% const author = Object(templateData.author) %>
              <div class="row">
                <div class="col-auto">
                  <%= require('../partials/author.html')({size: 'medium', photo:
                  author.photo, name: author.name, company: author.org,
                  ratingValue: author.rating}) %>
                </div>
              </div>

              <p><%= author.about %></p>

              <hr />

              <div class="author-courses">
                <h2>More Courses from <%= author.name %></h2>
                <div class="author-courses-wrap row">
                  <div
                    id="author-carousel"
                    class="carousel"
                    data-carousel-type="steps"
                  >
                    <div class="carousel-container swiper-container">
                      <div class="carousel-items swiper-wrapper">
                        <div class="carousel-item swiper-slide">
                          <%= require('../partials/cards/product.html')({ title:
                          "Exercitation\ commodo\ magna\ cillum\ officia\ amet\
                          mollit\ ullamco\ voluptate\ magna\ non\ id\ ad\
                          ipsum.", description: "Exercitation\ commodo\ magna\
                          cillum\ officia\ amet\ mollit\ ullamco\ voluptate\
                          magna\ non\ id\ ad\ ipsum.", cover:
                          'item-cover-1.jpg', rating: 4.55, price: 115.99,
                          displayType: 'mini' }) %>
                        </div>
                        <div class="carousel-item swiper-slide">
                          <%= require('../partials/cards/product.html')({ title:
                          "Nulla\ Anim\ Sunt\ Labore\ Exercitation\ Labore\
                          Voluptate\ Commodo\ Excepteur\ Cillum\ Minim",
                          description: "Nulla\ anim\ sunt\ labore\ exercitation\
                          labore\ voluptate\ commodo\ excepteur\ cillum\ minim",
                          cover: 'item-cover-2.jpg', rating: 4.92, price: 72.45,
                          displayType: 'mini' }) %>
                        </div>
                        <div class="carousel-item swiper-slide">
                          <%= require('../partials/cards/product.html')({ title:
                          "Ea\ Veniam\ Cupidatat\ Ut\ Ad\ Veniam\ Id\ Anim\ Ad\
                          Enim\ Deserunt\ Dolor\ Nisi\ Esse\ Consectetur",
                          description: "Ea\ veniam\ cupidatat\ ut\ ad\ veniam\
                          id\ anim\ ad\ enim\ deserunt\ dolor\ nisi\ esse\
                          consectetur", cover: 'item-cover-3.jpg', rating: 3.23,
                          price: 99, displayType: 'mini' }) %>
                        </div>
                      </div>
                    </div>
                    <div
                      class="carousel-nav-left d-flex align-items-center justify-content-center"
                    >
                      <%= require('/src/images/icons/arrow-left.svg?inline') %>
                    </div>
                    <div
                      class="carousel-nav-right d-flex align-items-center justify-content-center"
                    >
                      <%= require('/src/images/icons/arrow-right.svg?inline') %>
                    </div>
                    <div class="carousel-dots"></div>
                  </div>
                </div>
              </div>
            </section>

            <footer class="related">
              <h2>Related Courses You May Like</h2>
              <div class="related-courses-wrap row">
                <div
                  id="related-carousel"
                  class="carousel"
                  data-carousel-type="steps"
                >
                  <div class="carousel-container swiper-container">
                    <div class="carousel-items swiper-wrapper">
                      <div class="carousel-item swiper-slide">
                        <%= require('../partials/cards/product.html')({ title:
                        "Exercitation\ commodo\ magna\ cillum\ officia\ amet\
                        mollit\ ullamco\ voluptate\ magna\ non\ id\ ad\ ipsum.",
                        description: "Exercitation\ commodo\ magna\ cillum\
                        officia\ amet\ mollit\ ullamco\ voluptate\ magna\ non\
                        id\ ad\ ipsum.", cover: 'item-cover-1.jpg', rating:
                        4.55, price: 115.99, displayType: 'mini' }) %>
                      </div>
                      <div class="carousel-item swiper-slide">
                        <%= require('../partials/cards/product.html')({ title:
                        "Nulla\ Anim\ Sunt\ Labore\ Exercitation\ Labore\
                        Voluptate\ Commodo\ Excepteur\ Cillum\ Minim",
                        description: "Nulla\ anim\ sunt\ labore\ exercitation\
                        labore\ voluptate\ commodo\ excepteur\ cillum\ minim",
                        cover: 'item-cover-2.jpg', rating: 4.92, price: 72.45,
                        displayType: 'mini' }) %>
                      </div>
                      <div class="carousel-item swiper-slide">
                        <%= require('../partials/cards/product.html')({ title:
                        "Ea\ Veniam\ Cupidatat\ Ut\ Ad\ Veniam\ Id\ Anim\ Ad\
                        Enim\ Deserunt\ Dolor\ Nisi\ Esse\ Consectetur",
                        description: "Ea\ veniam\ cupidatat\ ut\ ad\ veniam\ id\
                        anim\ ad\ enim\ deserunt\ dolor\ nisi\ esse\
                        consectetur", cover: 'item-cover-3.jpg', rating: 3.23,
                        price: 99, displayType: 'mini' }) %>
                      </div>
                    </div>
                  </div>
                  <div
                    class="carousel-nav-left d-flex align-items-center justify-content-center"
                  >
                    <%= require('/src/images/icons/arrow-left.svg?inline') %>
                  </div>
                  <div
                    class="carousel-nav-right d-flex align-items-center justify-content-center"
                  >
                    <%= require('/src/images/icons/arrow-right.svg?inline') %>
                  </div>
                  <div class="carousel-dots"></div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
