<main class="content-details">
  <article>
    <div class="content-details-top">
      <div class="container">
        <div class="content-wrap">
          <%= require('../partials/breadcrumb.html')(JSON.stringify(['Explore',
          'Event Operations', 'Volunteer Management'] )) %> <%=
          require('./header.html')() %>
        </div>
      </div>
    </div>

    <div class="content-details-bottom">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="sidebar-container col-auto">
            <%= require('./sidebar.html')({cover: 'course-sample-cover.jpg',
            title: 'Cillum\ Nulla\ Dolore\ Voluptate\ Deserunt', price: 115.99})
            %>
          </div>

          <div class="content-wrap col">
            <section class="objectives accordion">
              <div class="section accordion-item" data-expanded="true">
                <div class="section-header">
                  <h2 class="title">Course Objectives</h2>
                  <button class="accordion-toggler">
                    <i
                      ><%= require('../../images/icons/collapse.svg?inline')
                      %></i
                    >
                  </button>
                </div>
                <div class="section-content accordion-item-content">
                  <p>
                    Quis consequat anim laborum elit ex aliquip exercitation
                    quis sint enim sit fugiat reprehenderit enim. Reprehenderit
                    aute dolore duis tempor enim ut duis ipsum. Magna irure
                    laboris incididunt duis magna. Laborum in dolor do quis
                    reprehenderit excepteur exercitation dolore ea amet
                    cupidatat anim aliqua. Dolor culpa incididunt aliquip
                    laborum consequat exercitation deserunt cillum. Eiusmod
                    aliqua esse non elit elit sunt ea sit pariatur aute fugiat
                    consequat tempor pariatur.
                  </p>
                </div>
              </div>
            </section>

            <section class="description accordion">
              <div class="section accordion-item" data-expanded="true">
                <div class="section-header">
                  <h2 class="title">About This Course</h2>
                  <button class="accordion-toggler">
                    <i
                      ><%= require('../../images/icons/collapse.svg?inline')
                      %></i
                    >
                  </button>
                </div>
                <div class="section-content accordion-item-content">
                  <p>
                    Velit in ridiculus sed netus. Et sit pharetra sit quam est
                    nisi nunc. Enim, scelerisque mattis sagittis pretium, elit.
                    Felis lacus nulla dui sed mauris. Sed faucibus egestas vitae
                    phasellus viverra pulvinar. Tincidunt tortor cum libero,
                    donec.
                  </p>

                  <p>
                    Diam enim semper lacus, gravida. Pellentesque tellus
                    scelerisque ornare nisl. Scelerisque nulla risus, molestie
                    amet, vitae dolor sed.
                  </p>

                  <p>
                    Pellentesque nulla felis sagittis eget orci facilisis at
                    proin. Urna, turpis pellentesque non massa massa lectus elit
                    tellus. Purus dictum id dis tristique quis amet odio ac,
                    feugiat. Eu pharetra, et id diam gravida molestie. Augue
                    vestibulum, amet nunc laoreet elementum nulla in.
                  </p>

                  <p>
                    Pulvinar habitasse integer massa aliquam feugiat augue
                    sagittis senectus quisque. Odio mattis tincidunt maecenas
                    duis vel blandit. Sed sed dictum neque, sit convallis
                    sagittis etiam. Et placerat habitant vitae sed consectetur
                    nisl aliquam, massa. Risus vestibulum amet lacus.
                  </p>
                </div>
              </div>
            </section>

            <section class="curriculum accordion">
              <div class="section accordion-item" data-expanded="true">
                <div class="section-header">
                  <h2 class="title">Course Curriculum</h2>
                  <button class="accordion-toggler">
                    <i
                      ><%= require('../../images/icons/collapse.svg?inline')
                      %></i
                    >
                  </button>
                </div>
                <div class="section-content accordion-item-content">
                  Quis consequat anim laborum elit ex aliquip exercitation quis
                  sint enim sit fugiat reprehenderit enim. Reprehenderit aute
                  dolore duis tempor enim ut duis ipsum. Magna irure laboris
                  incididunt duis magna. Laborum in dolor do quis reprehenderit
                  excepteur exercitation dolore ea amet cupidatat anim aliqua.
                  Dolor culpa incididunt aliquip laborum consequat exercitation
                  deserunt cillum. Eiusmod aliqua esse non elit elit sunt ea sit
                  pariatur aute fugiat consequat tempor pariatur.
                </div>
              </div>
            </section>

            <section class="author-container">
              <div class="row">
                <div class="col-auto">
                  <%= require('../partials/author.html')({size: 'medium', photo:
                  'author-6.jpg', name: 'Aydin\ Smith', company: 'TED\ Talk'})
                  %>
                </div>
                <div class="col-auto d-flex align-items-center">
                  <%= require('../partials/rating.html')({value: 4.5}) %>
                </div>
              </div>

              <p>
                Hi, I’m Aydin, a yoga specialist. Sollicitudin pretium neque
                viverra in. Arcu, feugiat aliquam molestie amet iaculis. Quam
                elit quis nulla vestibulum sit enim, consectetur.
              </p>

              <hr />

              <div class="author-courses">
                <h2>More Courses from Aydin Smith</h2>
                <div class="author-courses-wrap"></div>
              </div>
            </section>

            <footer class="related">
              <h2>Related Courses You May Like</h2>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
