@use '../mixins' as m;
@use '../elements/button' as b;
@use '../elements/author';

.content-details {
  background-color: #f1f2f3;

  &-top {
    background-color: var(--brand-primary);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }

  &-bottom {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  article {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .content-wrap {
    padding-right: 384px;
  }

  .breadcrumb {
    margin-bottom: 24px;
  }

  header {
    font-style: normal;
    color: var(--brand-white);

    h1 {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.87px;
      margin-bottom: 16px;
    }

    p {
      font-weight: normal;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.408px;
      margin-bottom: 20px;
    }

    .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      > * {
        margin-right: 12px;
      }

      .v-separator {
        height: 20px;
        border-left: 1px solid rgba(#fff, 0.3);
      }

      .rating {
        i {
          @include m.inline-svg-icon(16px, var(--brand-secondary));
        }
      }

      .enrolled,
      .language {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: var(--brand-white);
      }
    }
  }

  .sidebar {
    // height: 0;
    position: sticky;
    // order: -1;
    top: 88px;

    &-container {
      position: absolute;
      top: 0;
      height: 100%;
      padding-top: 32px;
      padding-bottom: 24px;
    }

    &-wrap {
      width: 348px;
      // position: absolute;
      // right: 12px;
      // top: 32px;
      background-color: var(--brand-white);
      border-radius: 24px;
      overflow: hidden;
      box-shadow: 0px 3px 7px rgba(14, 31, 53, 0.12);
    }

    &-content {
      padding: 24px 12px;
    }

    hr {
      margin-left: -12px;
      margin-right: -12px;
      background-color: rgba(46, 43, 69, 0.1);
      opacity: 1;
    }

    .shop {
      &-price {
        margin-bottom: 12px;

        > span {
          display: inline-block;
          color: #e95244;
          text-align: right;

          &:first-child {
            font-weight: normal;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.352px;
            vertical-align: top;
          }
          &:last-child {
            font-weight: bold;
            font-size: 34px;
            line-height: 41px;
            letter-spacing: 0.374px;
          }
        }
      }

      &-ctas {
        display: flex;
        flex-direction: column;

        > button {
          flex-grow: 1;
          border-radius: 4px;
          margin: 6px 0;
          @include m.button-reset;

          &:first-child {
            @include b.button("medium", "secondary");
          }

          &:last-child {
            display: flex !important;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(46, 43, 69, 0.15);
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            @include b.button("medium");

            i {
              margin-right: 8px;
              @include m.inline-svg-icon(28px, var(--brand-orange));
            }
          }
        }
      }
    }

    .author {
      margin-bottom: 8px;
      @include author.base("medium");

      &-container {
        > h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: var(--brand-primary);
          margin-bottom: 12px;
        }

        > a {
          @include b.button("medium");
          width: 100%;
          border: 1px solid rgba(46, 43, 69, 0.15);
          color: var(--brand-primary);
          margin-top: 24px;
        }

        .rating {
          padding-left: 80px;
          margin-top: -12px;

          i {
            @include m.inline-svg-icon(16px, var(--brand-orange));
          }
        }
      }
    }
  }

  section {
    background-color: var(--brand-white);
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.12);

    .section-content {
      padding: 16px 12px;
      overflow: hidden;
      transition: padding 0.125s ease-in;

      > p {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: -0.408px;
        color: var(--brand-primary);

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &.objectives-accordion,
    &.description-accordion {
      border: 0;

      .accordion-item {
      }

      .accordion-item-header {
        border-bottom: 1px solid rgba(46, 43, 69, 0.1);

        > .title {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.75px;
          color: var(--brand-primary);
          padding-top: 4px;
          padding-bottom: 4px;
          margin-bottom: 0;
        }

        > .accordion-toggler svg path {
          fill: var(--brand-primary);
        }
      }

      .accordion-item-content {
        > p {
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 25px;
          letter-spacing: -0.408px;
          color: var(--brand-primary);

          &:first-of-type {
            margin-top: 12px;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &.curriculum {
      .curriculum-top {
        padding: 16px 12px;

        > h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.75px;
          color: var(--brand-primary);
        }

        .info {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.24px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .length {
            color: rgba(46, 43, 69, 0.6);
            padding-left: 0;
            margin-left: 0;
          }

          .curriculum-accordion-toggle-all {
            color: var(--brand-orange);
            opacity: 0.8;
            transition: opacity 0.08s ease-in;

            &:hover {
              opacity: 1;
              text-decoration: underline;
            }
          }
        }
      }

      .curriculum-accordion {
        border: 0;
        border-top: 1px solid rgba(46, 43, 69, 0.1);
        border-radius: 0 0 4px 4px;

        .accordion-item {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .accordion-item-header {
          margin-top: -10px;
          margin-bottom: -10px;
          padding-top: 10px;
          padding-bottom: 10px;
          background: #f1f2f3;
          border-bottom: 1px solid rgba(46, 43, 69, 0.1);

          > .title {
            font-weight: 600;
            color: rgba(60, 60, 67, 0.6);
            margin-bottom: 0;
            margin-left: 16px;
          }

          > .lessons-counter {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.24px;
            color: rgba(60, 60, 67, 0.6);
            margin-left: auto;
          }

          > .accordion-toggler {
            margin-left: 0;
            width: 20px;
            height: 20px;

            svg path {
              fill: rgba(60, 60, 67, 0.6);
            }
          }
        }

        .accordion-item-content {
          .lesson {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 12px;

            &:not(:last-child) {
              border-bottom: 1px solid rgba(46, 43, 69, 0.1);
              padding-bottom: 12px;
            }

            &.is-playing {
              .lesson-status i svg path {
                fill: var(--brand-green);
              }
            }
            &.is-locked {
              .lesson-status i svg path {
                fill: var(--brand-orange);
              }
            }

            &-status {
              width: 24px;
              height: 24px;

              i {
                @include m.inline-svg-icon(24px, rgba(#2e2b45, 0.6));
              }
            }

            &-order {
              font-style: normal;
              font-weight: normal;
              font-size: 17px;
              line-height: 22px;
              letter-spacing: -0.408px;
              color: #2e2b45;
              text-align: right;
              width: 37px;
            }

            &-title {
              font-style: normal;
              font-weight: normal;
              font-size: 17px;
              line-height: 22px;
              letter-spacing: -0.408px;
              color: #2e2b45;
              padding-left: 24px;
              padding-right: 24px;
              margin-bottom: 4px;
            }

            &-detail {
              display: flex;
              flex-direction: column;
            }
            &-meta {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-left: 24px;
              padding-right: 24px;
            }

            &-duration,
            &-playing {
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              letter-spacing: -0.24px;
              color: rgba(60, 60, 67, 0.6);
              margin-left: 12px;
            }
          }
        }
      }
    }

    &.author-container {
      padding: 16px 12px;

      > p {
        margin-top: 16px;
        padding-left: 80px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.32px;
        color: #000000;
      }

      > hr {
        background-color: rgba(46, 43, 69, 0.1);
        margin-left: -12px;
        margin-right: -12px;
        opacity: 1;
      }

      .author {
        @include author.base("medium");
      }

      .rating {
        margin-top: 8px;

        i {
          @include m.inline-svg-icon(16px, var(--brand-orange));
        }
      }

      .author-courses {
        > h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.75px;
          color: var(--brand-primary);
          margin-bottom: 12px;
        }

        .carousel-container {
          margin: 0px -12px -16px;
          padding: 0 12px 16px;

          .card {
            height: 174px;

            .footer {
              margin-top: auto;
            }
          }
        }
      }
    }
  }

  footer.related {
    padding: 20px 12px 0;

    > h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.75px;
      color: var(--brand-primary);
      margin-bottom: 12px;
    }
  }
}
