.index {
  > * {
    &:nth-child(2) {
      padding-top: 72px;
      padding-bottom: 28px;

      .carousel {
        margin-top: 26px;
      }
    }

    &:nth-child(3) {
      background-color: #2e2b45;
      padding-top: 28px;
      margin-bottom: -47px;
    }

    &:nth-child(4) {
      padding-top: 119px;
      padding-bottom: 36px;
    }

    &:nth-child(5) {
      padding-top: 36px;
      padding-bottom: 56px;
    }
  }
}
