@use '../elements/button' as b;

.index {
  > * {
    &:nth-child(2) {
      padding-top: 56px;
      padding-bottom: 56px;

      .carousel {
        margin-top: 20px;
      }

      .button {
        @include b.button("medium", "secondary");
        width: auto;
        margin: 32px auto 0;
      }
    }

    &:nth-child(3) {
      background-color: #2e2b45;
      padding-top: 28px;
      margin-bottom: 83px;

      .carousel {
        margin-bottom: -71px;
        margin-top: -16px;
        padding-top: 36px;
      }
    }

    &:nth-child(4) {
      padding-top: 36px;
      padding-bottom: 36px;

      section {
        &:first-child,
        &:last-child {
          .button {
            @include b.button("medium", "secondary");
            width: auto;
            margin-top: 36px;
          }
        }
      }
    }

    &:nth-child(5) {
      padding-top: 36px;
      padding-bottom: 56px;

      .carousel {
        margin-top: 20px;
      }

      .button {
        @include b.button("medium", "secondary");
        width: auto;
        margin: 32px auto 0;
      }
    }
  }
}
