@use '../mixins' as *;

.lesson {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f1f2f3;

  > .container-fluid {
    width: calc(100vw - 430px);
    max-width: 1320px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;

    > .row > .col {
    }
  }

  .video {
    > iframe {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .description {
  }

  .notes {
  }

  .curriculum {
  }

  .related {
  }

  .desktop-sb-curriculum {
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 430px;
    border-left: 1px solid rgba(46, 43, 69, 0.16);

    .curriculum-tabs {
      display: flex;
      flex-direction: row;
      overflow: auto;

      .tab {
        padding: 12px 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.32px;
        color: rgba(60, 60, 67, 0.6);
        flex-shrink: 0;

        &.tab-active {
          font-weight: 600;
          color: #000;
        }

        &:not(:last-child) {
          border-right: 1px solid rgba(46, 43, 69, 0.1);
        }

        > button {
          @include button-reset;
          padding: 12px;
          font-weight: inherit;
          color: inherit;
        }
      }
    }

    .curriculum-accordion {
      border: 0;
      border-top: 1px solid rgba(46, 43, 69, 0.1);
      border-radius: 0 0 4px 4px;

      .accordion-item {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .accordion-item-header {
        margin-top: -10px;
        margin-bottom: -10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f1f2f3;
        border-bottom: 1px solid rgba(46, 43, 69, 0.1);

        > .title {
          font-weight: 600;
          color: rgba(60, 60, 67, 0.6);
          margin-bottom: 0;
          margin-left: 16px;
        }

        > .lessons-counter {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.24px;
          color: rgba(60, 60, 67, 0.6);
          margin-left: auto;
        }

        > .accordion-toggler {
          margin-left: 0;
          width: 20px;
          height: 20px;

          svg path {
            fill: rgba(60, 60, 67, 0.6);
          }
        }
      }

      .accordion-item-content {
        .lesson {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 12px;
          background-color: #fff;

          &:not(:last-child) {
            border-bottom: 1px solid rgba(46, 43, 69, 0.1);
            padding-bottom: 12px;
          }

          &.is-playing {
            .lesson-status i svg path {
              fill: var(--brand-green);
            }
          }
          &.is-locked {
            .lesson-status i svg path {
              fill: var(--brand-orange);
            }
          }

          &-status {
            width: 24px;
            height: 24px;

            i {
              @include inline-svg-icon(24px, rgba(#2e2b45, 0.6));
            }
          }

          &-order {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #2e2b45;
            text-align: right;
            width: 37px;
          }

          &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #2e2b45;
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 4px;
          }

          &-detail {
            display: flex;
            flex-direction: column;
          }
          &-meta {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 24px;
            padding-right: 24px;
          }

          &-duration,
          &-playing {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.24px;
            color: rgba(60, 60, 67, 0.6);
            margin-left: 12px;
          }
        }
      }
    }
  }
}
