<main class="index">
  <div class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex flex-column justify-content-center">
          <h1>Sports business contents now at your fingertips</h1>
          <a href="#" class="button">Explore the Hub</a>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <div class="row">
      <h2 class="light">Lessons from the legends</h2>
      <p>Magna fugiat consectetur consectetur irure deserunt.</p>
      <div id="lessons-carousel" class="carousel" data-carousel-type="steps">
        <div class="carousel-container swiper-container">
          <div class="carousel-items swiper-wrapper">
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title:
              "Exercitation\ commodo\ magna\ cillum\ officia\ amet\ mollit\
              ullamco\ voluptate\ magna\ non\ id\ ad\ ipsum.", cover:
              'item-cover-1.jpg', author: { photo: 'author-1.jpg', name: 'Chaya\
              Davidson', company: 'Football\ Daily' }, rating: 4.55, price:
              115.99 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Nulla\
              Anim\ Sunt\ Labore\ Exercitation\ Labore\ Voluptate\ Commodo\
              Excepteur\ Cillum\ Minim", cover: 'item-cover-2.jpg', author: {
              photo: 'author-2.jpg', name: 'Chandni\ Craft', company: 'Global\
              Cycling\ Network' }, rating: 4.92, price: 72.45 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Ea\
              Veniam\ Cupidatat\ Ut\ Ad\ Veniam\ Id\ Anim\ Ad\ Enim\ Deserunt\
              Dolor\ Nisi\ Esse\ Consectetur", cover: 'item-cover-3.jpg',
              author: { photo: 'author-3.jpg', name: 'Bobbie\ Hudson', company:
              'Daily\ Cyclist\ News' }, rating: 3.23, price: 99 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Lorem\
              Labore\ Ullamco\ Et\ Est\ Labore\ Dolore\ Cillum", cover:
              'item-cover-4.jpg', author: { photo: 'author-4.jpg', name: 'Dylan\
              Atkins', company: 'GoSwim' }, rating: 1.5, price: 91.44 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Culpa\
              Qui\ Veniam\ Do\ Occaecat\ Eiusmod\ Incididunt\ Nisi\ Dolore\
              Labore\ Est\ Officia", cover: 'item-cover-5.jpg', author: { photo:
              'author-5.jpg', name: 'Joel\ Becker', company: 'PGA\ Tour' },
              rating: 5.00, price: 115.99 }) %>
            </div>
          </div>
        </div>
        <div
          class="carousel-nav-left d-flex align-items-center justify-content-center"
        >
          <%= require('/src/images/icons/arrow-left.svg?inline') %>
        </div>
        <div
          class="carousel-nav-right d-flex align-items-center justify-content-center"
        >
          <%= require('/src/images/icons/arrow-right.svg?inline') %>
        </div>
        <div class="carousel-dots"></div>
      </div>
      <a href="" class="button">See all lessons from the legends</a>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <h2 class="dark">Videos</h2>
        <div class="d-flex flex-md-row flex-sm-column">
          <p>
            Aliquip Lorem est esse ad excepteur enim duis quis labore dolore
            excepteur aliqua ea.
          </p>
          <div class="d-flex justify-content-sm-between">
            <a href="">See all videos</a>
          </div>
        </div>
        <div
          id="videos-carousel"
          class="carousel"
          data-carousel-type="free-scroll"
        >
          <div class="carousel-container swiper-container">
            <div class="carousel-items swiper-wrapper">
              <div class="carousel-item swiper-slide">
                <%= require('../partials/cards/video.html')({ title:
                "Weightlifting\ Series\ &#8211;\ Pound\ for\ Pound", cover:
                'video-cover-1.jpg', duration: '24:12', views: 128, isPremiere:
                false }) %>
              </div>
              <div class="carousel-item swiper-slide">
                <%= require('../partials/cards/video.html')({ title:
                "Weightlifting\ Series\ &#8211;\ Deadlift\ Injury\ Prevention",
                cover: 'video-cover-2.jpg', duration: '32:01', views: 832,
                isPremiere: false }) %>
              </div>
              <div class="carousel-item swiper-slide">
                <%= require('../partials/cards/video.html')({ title:
                "Weightlifting\ Series\ &#8211;\ The\ Benefits\ of\ Lifting\
                for", cover: 'video-cover-3.jpg', duration: '24:12', views:
                '3.1K', isPremiere: false }) %>
              </div>
              <div class="carousel-item swiper-slide">
                <%= require('../partials/cards/video.html')({ title:
                "Weightlifting\ Interview\ &#8211;\ Kendrick\ Farris", cover:
                'video-cover-4.jpg', duration: '32:01', views: 999, isPremiere:
                false }) %>
              </div>
              <div class="carousel-item swiper-slide">
                <%= require('../partials/cards/video.html')({ title:
                "Weightlifting\ Interview\ &#8211;\ James\ Tatum", cover:
                'video-cover-5.jpg', duration: '24:12', views: 832, isPremiere:
                true }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <section class="col-8">
        <h2 class="light">Podcasts</h2>
        <p>
          Labore duis sit labore et pariatur qui sint aliquip sunt commodo
          exercitation adipisicing.
        </p>
        <div class="table" data-table-type="podcast">
          <div class="table-head">
            <div class="row-wrap">
              <div class="row">
                <div class="col-6">Title</div>
                <div class="col-3">Podcast by</div>
                <div class="col">
                  <i><%= require('/src/images/icons/time.svg?inline') %></i>
                </div>
                <div class="col text-end">Preview</div>
              </div>
            </div>
          </div>

          <div class="table-body">
            <div class="row-wrap">
              <div class="row">
                <div
                  class="col-6 d-flex flex-row align-self-center align-items-center"
                >
                  <div class="cover">
                    <img
                      src="<%= require('/src/images/podcast-cover-1.jpg') %>"
                      alt=""
                    />
                  </div>
                  <strong>Sint voluptate in qui aute ea laboris veniam.</strong>
                </div>
                <div class="col-3 d-flex flex-row align-self-center">
                  Fermentum Integer
                </div>
                <div
                  class="col d-flex flex-row align-self-center justify-content-end"
                >
                  49:11
                </div>
                <div
                  class="col d-flex flex-row align-self-center justify-content-end"
                >
                  <div id="podcast-1" class="podcast-preview">
                    <button class="preview-switch">
                      <i
                        ><%= require('../../images/icons/play.svg?inline') %></i
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-wrap">
              <div class="row">
                <div
                  class="col-6 d-flex flex-row align-self-center align-items-center"
                >
                  <div class="cover">
                    <img
                      src="<%= require('/src/images/podcast-cover-2.jpg') %>"
                      alt=""
                    />
                  </div>
                  <strong
                    >Voluptate dolor qui velit Lorem esse commodo incididunt
                    et.</strong
                  >
                </div>
                <div class="col-3 d-flex flex-row align-self-center">
                  Cursus: Volutpat Ac Et
                </div>
                <div
                  class="col d-flex flex-row align-self-center justify-content-end"
                >
                  1:22:32
                </div>
                <div
                  class="col d-flex flex-row align-self-center justify-content-end"
                >
                  <div id="podcast-2" class="podcast-preview">
                    <button class="preview-switch">
                      <i
                        ><%= require('../../images/icons/play.svg?inline') %></i
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-wrap">
              <div class="row">
                <div
                  class="col-6 d-flex flex-row align-self-center align-items-center"
                >
                  <div class="cover">
                    <img
                      src="<%= require('/src/images/podcast-cover-2.jpg') %>"
                      alt=""
                    />
                  </div>
                  <strong
                    >Deserunt duis id duis id est non aute tempor voluptate ut
                    irure cupidatat.</strong
                  >
                </div>
                <div class="col-3 d-flex flex-row align-self-center">
                  Cursus: Volutpat Ac Et
                </div>
                <div
                  class="col d-flex flex-row align-self-center justify-content-end"
                >
                  57:00
                </div>
                <div
                  class="col d-flex flex-row align-self-center justify-content-end"
                >
                  <div id="podcast-3" class="podcast-preview">
                    <button class="preview-switch">
                      <i
                        ><%= require('../../images/icons/play.svg?inline') %></i
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="button">See all podcasts</a>
      </section>

      <section class="col">
        <h2 class="light">Our top categories</h2>
        <p>
          Dolor sint aliquip voluptate veniam nisi cupidatat ex do et
          exercitation in aliqua velit exercitation.
        </p>
        <div class="categories">
          <a href="" class="pill">Pro Sports</a
          ><a href="" class="pill">Olympic</a><a href="" class="pill">College</a
          ><a href="" class="pill">Youth Sports</a
          ><a href="" class="pill">Sponsorships</a
          ><a href="" class="pill">Marketing</a
          ><a href="" class="pill">Fan Experience</a
          ><a href="" class="pill">Event Management</a
          ><a href="" class="pill">Project Management</a>
        </div>
        <a href="" class="button">Browse more categories</a>
      </section>
    </div>
  </div>

  <section class="container">
    <div class="row">
      <h2 class="light">Webinars</h2>
      <p>Non esse nostrud cupidatat eu proident eiusmod sunt in aute.</p>
      <div id="webinars-carousel" class="carousel" data-carousel-type="steps">
        <div class="carousel-container swiper-container">
          <div class="carousel-items swiper-wrapper">
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Non\ Elit\
              Massa\ Sit:\ Nam\ Orci\ Vestibulum", cover: 'webinar-cover-1.jpg',
              author: { photo: 'author-1.jpg', name: 'Chaya\ Davidson', company:
              'Football\ Daily' }, rating: 4.55, price: 23.12 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Morbi\
              Condimentum\ Sed\ Scelerisque\ 2021", cover:
              'webinar-cover-2.jpg', author: { photo: 'author-2.jpg', name:
              'Chandni\ Craft', company: 'Global\ Cycling\ Network' }, rating:
              4.18, price: 7.45 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Tortor\
              Lorem\ Purus\ Aenean\ Elementum", cover: 'webinar-cover-3.jpg',
              author: { photo: 'author-3.jpg', name: ['Bobbie\ Hudson', 'a',
              'b'], company: 'Global\ Cycling\ Channel' }, rating: 3.77, price:
              9.11 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Sapien\
              Nibh\ Nisl\ Adipiscing\ Eget\ Conte", cover:
              'webinar-cover-4.jpg', author: { photo: 'author-4.jpg', name:
              ['Dylan\ Atkins', 'a', 'b', 'c', 'd'], company: 'GoSwim' },
              rating: 5.00, price: 91.4 }) %>
            </div>
            <div class="carousel-item swiper-slide">
              <%= require('../partials/cards/product.html')({ title: "Turpis\
              Tincidunt\ &#8211;\ Vel\ Diam\ Aliquet\ Internationale", cover:
              'webinar-cover-5.jpg', author: { photo: 'author-5.jpg', name:
              'Joel\ Becker', company: 'PGA\ Tour' }, rating: 0.62, price: 0 })
              %>
            </div>
          </div>
        </div>
        <div
          class="carousel-nav-left d-flex align-items-center justify-content-center"
        >
          <%= require('/src/images/icons/arrow-left.svg?inline') %>
        </div>
        <div
          class="carousel-nav-right d-flex align-items-center justify-content-center"
        >
          <%= require('/src/images/icons/arrow-right.svg?inline') %>
        </div>
        <div class="carousel-dots"></div>
      </div>
      <a href="" class="button">See all webinars</a>
    </div>
  </section>
</main>
