<section class="col">
  <h2 class="light">Our top categories</h2>
  <p>
    Dolor sint aliquip voluptate veniam nisi cupidatat ex do et exercitation in
    aliqua velit exercitation.
  </p>
  <div class="categories">
    <a href="" class="pill">Pro Sports</a><a href="" class="pill">Olympic</a
    ><a href="" class="pill">College</a><a href="" class="pill">Youth Sports</a
    ><a href="" class="pill">Sponsorships</a
    ><a href="" class="pill">Marketing</a
    ><a href="" class="pill">Fan Experience</a
    ><a href="" class="pill">Event Management</a
    ><a href="" class="pill">Project Management</a>
  </div>
  <a href="/explore" class="button button-medium button-secondary"
    >Browse more categories</a
  >
</section>
