<% const size = obj.size || 'small' %> <% const useRating =
parseInt(obj.ratingValue) > 0 ? true : false %>
<div class="author author-<%= size %> d-flex align-items-center">
  <div class="author-photo ratio ratio-1x1">
    <img src="<%= photo %>" alt="" class="rounded-circle" />
  </div>
  <% if (Array.isArray(name)) { %>
  <div class="author-more rounded-circle ratio ratio-1x1">
    <span><%= `+${name.length - 1}` %></span>
  </div>
  <% } %>
  <div class="author-profile">
    <div class="name"><%= Array.isArray(name) ? name[0] : name %></div>
    <div class="company"><%= company %></div>
    <% if(useRating) { %> <%= require('./rating.html')({value: ratingValue}) %>
    <% } %>
  </div>
</div>
