<footer class="main-footer">
  <div class="container">
    <div class="top-wrap">
      <div class="brand">
        <a href="/">
          <img
            src="<%= require('/src/images/logo-white-text.png') %>"
            alt="Sports Learning Online logo"
          />
        </a>
      </div>
    </div>

    <div class="links-wrap">
      <!-- prettier-ignore -->
      <%= require('./footerLinks.html')({
        title: 'About',
        links: [
          { text: 'About Us' },
          { text: 'Become an Author' },
          { text: 'Schools & Programs' },
          { text: 'Help & FAQs' }
        ]
      }) %> 
      <%= require('./footerLinks.html')({
        title: 'Quick Links',
        links: [
          { text: 'COVID-19' },
          { text: 'Return to Play Operations' },
          { text: 'Sports Complexes' },
          { text: 'Fan Experience'}
        ]
      }) %>
    </div>

    <div class="bottom-wrap">
      <div class="copy">
        Copyright &copy; 2021 Sports Learning Online. All rights reserved.
      </div>
      <div class="social d-flex flex-row">
        <a href="#" rel="noopener noreferrer" target="_blank">
          <%= require('/src/images/brands-facebook.svg?inline') %>
        </a>
        <a href="#" rel="noopener noreferrer" target="_blank">
          <%= require('/src/images/brands-twitter.svg?inline') %>
        </a>
        <a href="#" rel="noopener noreferrer" target="_blank">
          <%= require('/src/images/brands-google.svg?inline') %>
        </a>
        <a href="#" rel="noopener noreferrer" target="_blank">
          <%= require('/src/images/brands-linkedin.svg?inline') %>
        </a>
        <a href="#" rel="noopener noreferrer" target="_blank">
          <%= require('/src/images/brands-instagram.svg?inline') %>
        </a>
      </div>
    </div>
  </div>
</footer>
