<div class="mobile-sidenav mobile-sidenav-hidden">
  <div class="sn-dimmer"></div>

  <div class="snmenu snmenu-explore snmenu-inactive">
    <button class="snmenu-close">
      <%= require('/src/images/icons/close.svg?inline') %>
    </button>

    <div class="snmenu-wrap">
      <div class="snmenu-header">
        <i><%= require('/src/images/icons/block.svg?inline') %></i>Explore
      </div>

      <ul class="snmenu-list">
        <li>
          <a href="/explore">
            <span>Business Development</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Marketing</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Sed Urna Odio</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Ut Ante Urna Eu</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Amet</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Quisque Sagittis</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Erat Convallis</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
        <li>
          <a href="/explore">
            <span>Explore all contents</span>
            <i><%= require('/src/images/icons/next.svg?inline') %></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="snmenu snmenu-user snmenu-inactive">
    <button class="snmenu-close">
      <%= require('/src/images/icons/close.svg?inline') %>
    </button>

    <div class="snmenu-wrap">
      <div class="snmenu-header">
        <i><%= require('/src/images/icons/mobile-user.svg?inline') %></i>My Menu
      </div>

      <ul class="snmenu-list">
        <li>
          <a href="#">
            <span>Shopping Cart</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>My Courses</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>My Certificates</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>My Badges</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Preferences</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
