<header class="container-fluid main-header">
  <div class="secondarybar-wrap d-flex justify-content-between">
    <div class="nav-left">
      <a href="">
        <small> Channels<i></i> </small>
      </a>
    </div>

    <ul class="nav-right flex-row">
      <li>
        <a href="">
          <small>COVID-19</small>
        </a>
      </li>
      <li>
        <a href="">
          <small>Game Day Operations</small>
        </a>
      </li>
      <li>
        <a href="">
          <small>Return to Play</small>
        </a>
      </li>
      <li>
        <a href="">
          <small>Fan Experience</small>
        </a>
      </li>
      <li>
        <a href="">
          <small> <i></i>Trending Topics on SLO </small>
        </a>
      </li>
    </ul>
  </div>

  <nav class="mainbar-wrap d-flex" aria-label="Primary navigation">
    <div class="brand">
      <img
        src="<%= require('/src/images/logo.png') %>"
        alt="Logo"
        height="50"
      />
    </div>
    <div class="module d-flex flex-row align-items-center">
      <div class="module-dropdown">
        <a href=""><i></i>Explore</a>
      </div>
    </div>
    <div class="module d-flex flex-row align-items-center">
      <div class="module-search">
        <a href=""><i>S</i></a>
      </div>
      <div class="module-cart">
        <a href=""><i>C</i></a>
      </div>
      <div class="module-v-separator"></div>
      <div class="module-user">
        <i></i>
        <span><a href="">Sign In</a></span>
        <span>or</span>
        <span><a href="">Register</a></span>
      </div>
    </div>
  </nav>
</header>
