<header class="container-fluid main-header">
  <div class="secondarybar-wrap d-flex justify-content-between">
    <div class="nav-left">
      <a href="">
        <small> Channels<i></i> </small>
      </a>
    </div>

    <ul class="nav-right flex-row">
      <li>
        <a href="">
          <small>COVID-19</small>
        </a>
      </li>
      <li>
        <a href="">
          <small>Game Day Operations</small>
        </a>
      </li>
      <li>
        <a href="">
          <small>Return to Play</small>
        </a>
      </li>
      <li>
        <a href="">
          <small>Fan Experience</small>
        </a>
      </li>
      <li>
        <a href="">
          <small> <i></i>Trending Topics on SLO </small>
        </a>
      </li>
    </ul>
  </div>

  <nav class="mainbar-wrap" aria-label="Primary navigation">
    <div class="brand">
      <img src="/src/images/logo.png" alt="Logo" width="176" />
    </div>
  </nav>
</header>
