<main class="lesson">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="video ratio ratio-16x9">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/GLy2rYHwUqY"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        <div class="summary">
          <div class="description-accordion accordion">
            <div class="accordion-item">
              <div class="accordion-item-header">
                <div class="title">Lesson #4</div>
                <div class="v-separator"></div>
                <div class="section-name">Introduction</div>
                <button class="accordion-toggler">
                  <%= require('../../images/icons/collapse.svg?inline') %>
                </button>
              </div>

              <h1>
                Quis sit id nostrud esse reprehenderit labore deserunt magna.
              </h1>

              <div class="accordion-item-content">
                <p>
                  Anim ut nulla magna laboris do ea ea fugiat incididunt aliqua.
                  Nisi culpa ipsum irure veniam ullamco nostrud. Eiusmod mollit
                  deserunt quis aliqua voluptate velit enim aute. Eiusmod
                  excepteur et laborum sunt adipisicing nostrud cupidatat esse
                  commodo. Commodo mollit labore exercitation elit nisi eu
                  irure. Exercitation laborum deserunt proident eiusmod.
                </p>
                <p>
                  Exercitation reprehenderit et non sit magna anim aliquip.
                  Fugiat minim dolore enim adipisicing anim ea magna fugiat
                  ipsum ullamco dolor officia. Minim voluptate nulla aute
                  laboris. Est aliqua ad cillum occaecat sit mollit ex duis
                  nostrud. Consequat culpa reprehenderit magna velit est
                  voluptate in pariatur do anim.
                </p>
              </div>
            </div>
          </div>

          <%= require('../partials/author.html')({size: 'medium', photo:
          'author-6.jpg', name: 'Aydin\ Smith', company: 'TED\ Talk'}) %>
        </div>

        <div class="notes">
          <h2>Notes for this lesson</h2>
          <div class="notes-input">
            <textarea
              rows="3"
              placeholder="Type here to put your notes"
            ></textarea>
          </div>
          <div class="notes-log"></div>
        </div>

        <div class="mobile-curriculum"></div>

        <footer class="related">
          <h2>Related Courses You May Like</h2>
          <div class="related-courses-wrap row">
            <div
              id="related-carousel"
              class="carousel"
              data-carousel-type="steps"
            >
              <div class="carousel-container swiper-container">
                <div class="carousel-items swiper-wrapper">
                  <div class="carousel-item swiper-slide">
                    <%= require('../partials/cards/product.html')({ title:
                    "Exercitation\ commodo\ magna\ cillum\ officia\ amet\
                    mollit\ ullamco\ voluptate\ magna\ non\ id\ ad\ ipsum.",
                    description: "Exercitation\ commodo\ magna\ cillum\ officia\
                    amet\ mollit\ ullamco\ voluptate\ magna\ non\ id\ ad\
                    ipsum.", cover: 'item-cover-1.jpg', rating: 4.55, price:
                    115.99, displayType: 'col' }) %>
                  </div>
                  <div class="carousel-item swiper-slide">
                    <%= require('../partials/cards/product.html')({ title:
                    "Nulla\ Anim\ Sunt\ Labore\ Exercitation\ Labore\ Voluptate\
                    Commodo\ Excepteur\ Cillum\ Minim", description: "Nulla\
                    anim\ sunt\ labore\ exercitation\ labore\ voluptate\
                    commodo\ excepteur\ cillum\ minim", cover:
                    'item-cover-2.jpg', rating: 4.92, price: 72.45, displayType:
                    'col' }) %>
                  </div>
                  <div class="carousel-item swiper-slide">
                    <%= require('../partials/cards/product.html')({ title: "Ea\
                    Veniam\ Cupidatat\ Ut\ Ad\ Veniam\ Id\ Anim\ Ad\ Enim\
                    Deserunt\ Dolor\ Nisi\ Esse\ Consectetur", description: "Ea\
                    veniam\ cupidatat\ ut\ ad\ veniam\ id\ anim\ ad\ enim\
                    deserunt\ dolor\ nisi\ esse\ consectetur", cover:
                    'item-cover-3.jpg', rating: 3.23, price: 99, displayType:
                    'col' }) %>
                  </div>
                  <div class="carousel-item swiper-slide">
                    <%= require('../partials/cards/product.html')({ title:
                    "Lorem\ Labore\ Ullamco\ Et\ Est\ Labore\ Dolore\ Cillum",
                    cover: 'item-cover-4.jpg', rating: 1.5, price: 91.44,
                    displayType: 'col' }) %>
                  </div>
                </div>
              </div>
              <div
                class="carousel-nav-left d-flex align-items-center justify-content-center"
              >
                <%= require('/src/images/icons/arrow-left.svg?inline') %>
              </div>
              <div
                class="carousel-nav-right d-flex align-items-center justify-content-center"
              >
                <%= require('/src/images/icons/arrow-right.svg?inline') %>
              </div>
              <div class="carousel-dots"></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <div class="desktop-sb-curriculum">
    <div class="curriculum-wrap">
      <div class="curriculum-tabs">
        <div class="tab tab-active">
          <button data-tab-index="0">Course Curriculum</button>
        </div>
        <div class="tab">
          <button data-tab-index="1">Supporting Documents</button>
        </div>
        <div class="tab">
          <button data-tab-index="2">About Course</button>
        </div>
      </div>

      <div id="tab-0" class="curriculum-accordion accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            <h3 class="title">Introduction</h3>
            <div class="lessons-counter">4 lessons</div>
            <button class="accordion-toggler">
              <%= require('../../images/icons/collapse.svg?inline') %>
            </button>
          </div>

          <div class="accordion-item-content">
            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#1</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  At Mauris Nisi: Elit Tincidunt Interdum
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="podcast">
                    Podcast
                  </div>
                  <div class="lesson-duration">5:42</div>
                </div>
              </div>
            </div>

            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#2</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  Ullamco cillum irure cillum nulla occaecat.
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="video">Video</div>
                  <div class="lesson-duration">11:05</div>
                </div>
              </div>
            </div>

            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#3</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title"
                  >Sint velit ut dolore Lorem ea ex.</a
                >
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="webinar">
                    Webinar
                  </div>
                  <div class="lesson-duration">25:28</div>
                </div>
              </div>
            </div>

            <div class="lesson is-playing">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#4</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  Quis sit id nostrud esse reprehenderit labore deserunt magna.
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="video">Video</div>
                  <div class="lesson-duration">29:51</div>
                  <div class="lesson-playing">Now playing</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <div class="accordion-item-header">
            <h3 class="title">Vel Egestas de Yoga</h3>
            <div class="lessons-counter">2 lessons</div>
            <button class="accordion-toggler">
              <%= require('../../images/icons/collapse.svg?inline') %>
            </button>
          </div>

          <div class="accordion-item-content">
            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#5</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  Mollit proident nulla ex do dolor anim deserunt excepteur
                  minim sit velit et.
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="video">Video</div>
                  <div class="lesson-duration">31:22</div>
                </div>
              </div>
            </div>

            <div class="lesson is-locked">
              <div class="lesson-status">
                <i><%= require('../../images/icons/lock.svg?inline') %></i>
              </div>
              <div class="lesson-order">#6</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  Sunt enim irure elit reprehenderit officia qui quis ullamco
                  aliqua exercitation aliquip.
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="video">Video</div>
                  <div class="lesson-duration">17:43</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <div class="accordion-item-header">
            <h3 class="title">Amet Id Quis Eu Duis Deserunt</h3>
            <div class="lessons-counter">4 lessons</div>
            <button class="accordion-toggler">
              <%= require('../../images/icons/collapse.svg?inline') %>
            </button>
          </div>

          <div class="accordion-item-content">
            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#7</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  At Mauris Nisi: Elit Tincidunt Interdum
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="podcast">
                    Podcast
                  </div>
                  <div class="lesson-duration">5:42</div>
                </div>
              </div>
            </div>

            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#8</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  Ullamco cillum irure cillum nulla occaecat.
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="video">Video</div>
                  <div class="lesson-duration">11:05</div>
                </div>
              </div>
            </div>

            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#9</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title"
                  >Sint velit ut dolore Lorem ea ex.</a
                >
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="webinar">
                    Webinar
                  </div>
                  <div class="lesson-duration">25:28</div>
                </div>
              </div>
            </div>

            <div class="lesson">
              <div class="lesson-status">
                <i><%= require('../../images/icons/play.svg?inline') %></i>
              </div>
              <div class="lesson-order">#10</div>
              <div class="lesson-detail">
                <a href="#" class="lesson-title">
                  Quis sit id nostrud esse reprehenderit labore deserunt magna.
                </a>
                <div class="lesson-meta">
                  <div class="product-tag" data-product-type="video">Video</div>
                  <div class="lesson-duration">29:51</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="tab-1"
        class="curriculum-supporting-documents tab-content-hidden"
      >
        <ul>
          <li class="attachment">
            <div class="attachment-icon">
              <%= require('../../images/file-video.svg?inline') %>
            </div>
            <div class="attachment-detail">
              <div>consequat-rhoncus-auctor.mov</div>
              <div>Video</div>
            </div>
          </li>
          <li class="attachment">
            <div class="attachment-icon">
              <%= require('../../images/file-audio.svg?inline') %>
            </div>
            <div class="attachment-detail">
              <div>consequat-rhoncus-auctor.wav</div>
              <div>Audio</div>
            </div>
          </li>
        </ul>
      </div>

      <div id="tab-2" class="curriculum-about-course tab-content-hidden">
        <div class="about-course-wrap">
          <p>
            Velit in ridiculus sed netus. Et sit pharetra sit quam est nisi
            nunc. Enim, scelerisque mattis sagittis pretium, elit. Felis lacus
            nulla dui sed mauris. Sed faucibus egestas vitae phasellus viverra
            pulvinar. Tincidunt tortor cum libero, donec.
          </p>
          <p>
            Diam enim semper lacus, gravida. Pellentesque tellus scelerisque
            ornare nisl. Scelerisque nulla risus, molestie amet, vitae dolor
            sed.
          </p>
          <p>
            Pellentesque nulla felis sagittis eget orci facilisis at proin.
            Urna, turpis pellentesque non massa massa lectus elit tellus. Purus
            dictum id dis tristique quis amet odio ac, feugiat. Eu pharetra, et
            id diam gravida molestie. Augue vestibulum, amet nunc laoreet
            elementum nulla in.
          </p>
          <p>
            Pulvinar habitasse integer massa aliquam feugiat augue sagittis
            senectus quisque. Odio mattis tincidunt maecenas duis vel blandit.
            Sed sed dictum neque, sit convallis sagittis etiam. Et placerat
            habitant vitae sed consectetur nisl aliquam, massa. Risus vestibulum
            amet lacus.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
