@use "/node_modules/swiper/swiper.scss";
@use "/node_modules/swiper/components/a11y/a11y.scss";
@use "/node_modules/swiper/components/navigation/navigation.scss";

.carousel {
  &[data-carousel-type="steps"] {
  }

  &[data-carousel-type="free-scroll"] {
  }

  &-container {
    margin: 0 -24px -28px;
    padding: 0 24px 52px;
  }

  &-item {
    display: initial;
    float: initial;
    margin-right: initial;
    backface-visibility: initial;
    transition: initial;

    &.swiper-slide-prev,
    &.swiper-slide-duplicate-active {
      .card {
        box-shadow: none;
      }
    }
    &.swiper-slide-active {
      .card {
        box-shadow: 0px 28px 40px -1px rgba(14, 31, 53, 0.12) impot !important;
      }
    }
  }

  &-nav {
    &-left,
    &-right {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 50%;
      margin-top: -24px;
      background-color: var(--brand-white);
      box-shadow: 0px 28px 40px -1px rgba(14, 31, 53, 0.12);
      border-radius: 24px;
      z-index: 2;
      transition: background-color 0.125s ease-in;

      &:hover {
        background-color: var(--brand-primary);

        svg path {
          fill: var(--brand-white);
        }
      }

      svg {
        width: 24px;
        height: 24px;

        path: {
          fill: var(--brand-primary);
          transition: fill 0.125s ease-in;
        }
      }
    }

    &-left {
      left: 0;
      margin-left: -12px;
    }

    &-right {
      right: 0;
      margin-right: -12px;
    }
  }
}
