@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.main-footer {
  background: var(--brand-primary) url("/src/images/footer-bg.jpg") no-repeat
    center / 100%;
  background-size: cover;
  position: relative;

  @media only screen and (max-width: $mobile-max) and (orientation: portrait) {
    z-index: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      var(--brand-primary) 1.45%,
      rgba($brand-primary, 0.75) 100%
    );
    z-index: 1;
  }

  > .container {
    z-index: 2;
    position: relative;
    padding-top: 32px;
    padding-bottom: 24px;

    @media only screen and (min-width: $tablet-min) {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }

  .top-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media only screen and (min-width: $tablet-min) {
      justify-content: flex-start;
    }

    .brand {
      a {
        display: inline-block;

        img {
          height: 72px;
        }
      }
    }
  }

  .links-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    @media only screen and (min-width: $tablet-min) {
      flex-direction: row;
      align-items: flex-start;
      margin-top: 36px;
    }

    .links-col {
      margin-bottom: 36px;

      &:first-child {
        h1 {
          display: none;
        }
      }

      @media only screen and (min-width: $tablet-min) {
        margin-bottom: 0;

        &:first-child {
          h1 {
            display: block;
          }
        }

        &:not(:first-child) {
          margin-left: 66px;
        }
      }

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: rem(22px);
        line-height: rem(28px);
        letter-spacing: 0.8px;
        color: var(--brand-white);
        margin-bottom: 12px;
        text-align: center;

        @media only screen and (min-width: $tablet-min) {
          text-align: left;
        }
      }

      ul {
        @include ul-reset;

        li {
          text-align: center;

          @media only screen and (min-width: $tablet-min) {
            text-align: left;
          }

          &:not(:last-child) {
            margin-bottom: 16px;
          }

          a {
            font-style: normal;
            font-weight: normal;
            font-size: rem(17px);
            line-height: rem(22px);
            letter-spacing: -0.408px;
            color: rgba($brand-white, 0.8);
            text-decoration: none;

            &:hover {
              color: var(--brand-white);
            }
          }
        }
      }
    }
  }

  .bottom-wrap {
    margin-top: 28px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media only screen and (min-width: $tablet-min) {
      margin-top: 56px;
      flex-direction: row;
      justify-content: space-between;
    }

    .copy {
      font-style: normal;
      font-weight: normal;
      font-size: rem(13px);
      line-height: rem(18px);
      letter-spacing: -0.078px;
      color: rgba($brand-white, 0.6);
      margin-top: 64px;
      max-width: 254px;
      text-align: center;

      @media only screen and (min-width: $tablet-min) {
        margin-top: 0;
        max-width: unset;
        text-align: left;
      }
    }

    .social {
      a {
        margin: 0 8px;
        height: 32px;
        width: 32px;
        text-decoration: none;

        svg {
          width: inherit;
          height: inherit;
        }
      }
    }
  }
}
