@use '../elements/button' as b;
@use '../mixins' as m;
@use '../variables' as *;

.main-header {
  position: sticky;
  top: 0;
  z-index: 3;

  @media only screen and (min-width: $tablet-min) {
    top: -48px;
  }

  .header-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .module-dropdown {
    position: relative;

    &:hover {
      .menu {
        display: block;
      }
    }

    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;

      .menu-wrap {
        padding: 20px 16px;
        background-color: var(--brand-white);
        border: 1px solid rgba(46, 43, 69, 0.1);
        border-radius: 4px;
        box-shadow: 0px 32px 48px -2px rgba(14, 31, 53, 0.2);
        overflow: hidden;

        ul {
          @include m.ul-reset;

          li {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .secondarybar-wrap {
    background-color: #f1f2f3;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 -12px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $mobile-max) {
      display: none;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.078px;
      color: #2e2b45;
      display: inline-block;
      text-decoration: none;
      padding: 8px 0;
    }

    .nav-left {
      a {
        margin: 0 12px;

        i {
          width: 12px;
          height: 12px;
          margin-left: 2px;
          display: inline-flex;

          svg {
            width: inherit;
            height: inherit;

            > path {
              fill: #2e2b45;
            }
          }
        }
      }

      &.module-dropdown {
        padding-top: 0px;
        left: 12px;

        .menu .menu-wrap ul li {
          border-radius: 4px;

          &:hover {
            background-color: rgba(46, 43, 69, 0.05);

            a {
              color: var(--brand-primary);
            }
          }

          a {
            display: block;
            margin: 0;
            padding: 8px;
            color: rgba(46, 43, 69, 0.8);
          }
        }
      }
    }

    .nav-right {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 12px;

        > a:not(.button) {
          transition: font-weight 0.125s ease-in;

          &:hover {
            font-weight: 600;
          }
        }

        .button {
          @include b.button("small", "primary");
          &:hover {
            i svg > path {
              fill: var(--brand-primary);
            }
          }

          i {
            width: 16px;
            height: 16px;
            margin-right: 4px;
            display: inline-flex;

            svg {
              width: inherit;
              height: inherit;

              > path {
                fill: #f8d178;
              }
            }
          }
        }
      }
    }
  }

  .mainbar-wrap {
    background-color: #fff;
    margin: 0 -12px;
    padding: 0 12px;
    box-shadow: 0px 0px 2px rgba(14, 31, 53, 0.12);
    display: flex;
    flex-direction: row;

    a {
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #2e2b45;
      display: inline-block;
      text-decoration: none;
    }

    .mobile-menu {
      width: 0;
      align-self: center;
      display: inline-flex;

      @media only screen and (min-width: $tablet-min) {
        display: none;
      }

      > button {
        @include m.button-reset;
        width: 28px;
        height: 28px;

        > i {
          display: inline-flex;
        }
        > i,
        > i > svg {
          width: inherit;
          height: inherit;
        }
      }
    }

    .brand {
      padding: 12px;
      margin-left: auto;
      margin-right: auto;

      @media only screen and (max-width: $mobile-max) {
        display: inline-flex;

        > a {
          width: 41px;
          overflow: hidden;

          img {
            height: 40px !important;
          }
        }
      }

      @media only screen and (min-width: $tablet-min) {
        margin-left: unset;
        margin-right: 48px;
      }
    }

    .module {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:last-of-type {
        width: 0;
        justify-content: flex-end;

        @media only screen and (min-width: $tablet-min) {
          margin-left: auto;
        }
      }

      &-user {
        padding: 0 12px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: $mobile-max) {
          display: none;
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 22px;
          letter-spacing: -0.408px;
          color: rgba(60, 60, 67, 0.6);
          display: inline-block;
        }
      }

      &-dropdown i,
      &-user i {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        display: inline-flex;

        svg {
          width: inherit;
          height: inherit;

          > path {
            fill: #2e2b45;
          }
        }
      }

      &-dropdown {
        > a {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        @media only screen and (max-width: $mobile-max) {
          > a {
            display: none;
          }
        }

        .menu {
          padding-top: 12px;
          left: -20px;

          .menu-wrap {
            padding: 0;
            padding-left: 8px;
            display: flex;
            flex-direction: row;

            ul {
              padding: 20px 0;
              position: relative;

              // &:not(:last-child) {
              //   border-right: 1px solid rgba(#2e2b45, 0.1);
              // }

              li {
                padding: 0 12px;
                display: flex;

                &:not(:last-child) {
                  margin-bottom: 20px;
                }

                &:hover {
                  > ul {
                    display: block;
                  }
                }

                &.active {
                  > a {
                    color: var(--brand-orange);

                    i svg path {
                      fill: var(--brand-orange);
                    }
                  }
                }

                a {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  align-self: start;
                  flex-grow: 1;
                  color: var(--brand-primary);

                  span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: -0.32px;
                    margin-right: 24px;
                  }
                  i {
                    @include m.inline-svg-icon(16px, var(--brand-primary));
                    margin: 0;
                    margin-left: auto;
                  }
                }
                > ul {
                  display: none;
                  position: absolute;
                  left: 100%;
                  top: 0;
                  min-height: 100%;
                  background-color: #fff;
                  // margin-top: -1px;
                  // margin-left: -3px;
                  // padding: 20px;
                  border-left: 1px solid rgba(#2e2b45, 0.1);
                  // border-radius: 0 4px 4px 0;
                }
              }
            }
          }
        }
      }

      &-search {
        margin: 0 16px;
      }

      &-cart {
        @extend .module-search;
        margin-right: 20px;

        @media only screen and (max-width: $mobile-max) {
          display: none;
        }
      }

      &-search i,
      &-cart i {
        width: 28px;
        height: 28px;

        svg {
          width: inherit;
          height: inherit;
        }
      }

      &-user-mobile {
        @extend .module-search;
        margin-right: 0;
        margin-left: 8px;

        @media only screen and (min-width: $tablet-min) {
          display: none;
        }
      }

      &-v-separator {
        width: 1px;
        height: 100%;
        margin: 0 12px;
        border-left: 1px solid rgba(46, 43, 69, 0.1);

        @media only screen and (max-width: $mobile-max) {
          display: none;
        }
      }
    }
  }
}
