.card {
  background: #ffffff;
  box-shadow: 0px 28px 40px -1px rgba(14, 31, 53, 0.12);
  border-radius: 24px;
  border: 0;

  &[data-card-type="product"] {
    &[data-display-type="col"] {
      .product {
        &-cover {
          border-radius: 24px 24px 0 0;
          overflow: hidden;
        }

        &-summary {
          padding: 16px 12px;

          .header {
            margin-bottom: 6px;
          }
          .author {
            margin-bottom: 12px;
          }

          .title {
            max-height: 44px;
            overflow: hidden;

            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              line-height: 22px;
              letter-spacing: -0.408px;
              color: #2e2b45;
              margin: 0;
            }
          }

          .wish {
            max-width: 36px;
            padding-left: 0;

            button {
              all: initial;
              font-size: 0;
              padding: 0;

              i {
                width: 24px;
                height: 24px;
                display: inline-flex;

                svg {
                  width: inherit;
                  height: inherit;
                }
              }
            }
          }

          .footer {
            .rating {
              i {
                width: 16px;
                height: 16px;
                display: inline-flex;

                &:not(:last-child) {
                  margin-right: 2px;
                }

                svg {
                  width: inherit;
                  height: inherit;
                }
              }
            }

            .price {
              text-align: right;

              > span {
                display: inline-block;
                color: #e95244;
                text-align: right;

                &:first-child {
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 22px;
                  letter-spacing: -0.32px;
                  vertical-align: top;
                }
                &:last-child {
                  font-weight: bold;
                  font-size: 22px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }
  }

  &[data-card-type="video"] {
    &[data-display-type="col"] {
      .video {
        &-cover {
          border-radius: 24px 24px 0 0;
          overflow: hidden;

          .icon-play {
            width: 64px;
            height: 64px;
            display: inline-flex;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -32px;
            margin-left: -32px;

            svg {
              width: inherit;
              height: inherit;

              path {
                fill: #fff;
              }
            }
          }
        }

        &-summary {
          padding: 12px 16px;

          .title {
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #2e2b45;
            height: 44px;
            overflow: hidden;
          }

          .meta {
            margin-bottom: 4px;

            > span {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              letter-spacing: -0.078px;
              color: rgba(46, 43, 69, 0.6);

              &.bullet {
                font-size: 10px;
                margin: 0 2px;
              }
              &.premiere {
                color: #e95244;
                text-transform: uppercase;
              }

              i {
                width: 12px;
                height: 12px;
                display: inline-flex;

                svg {
                  width: inherit;
                  height: inherit;

                  path {
                    fill: rgba(46, 43, 69, 0.6);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
