.card {
  background: #ffffff;
  box-shadow: 0px 28px 40px -1px rgba(14, 31, 53, 0.12);
  border-radius: 24px;
  border: 0;

  &[data-card-type="product"] {
    &[data-display-type="col"] {
      .product {
        &-cover {
          border-radius: 24px 24px 0 0;
          overflow: hidden;
        }

        &-tag {
          top: initial;
          left: 6px;
          bottom: 6px;
        }

        &-summary {
          padding: 16px 12px;

          .header {
            margin-bottom: 6px;
          }
          .author {
            margin-bottom: 12px;
          }

          .title {
            max-height: 44px;
            overflow: hidden;

            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              line-height: 22px;
              letter-spacing: -0.408px;
              color: #2e2b45;
              margin: 0;
            }
          }

          .wish {
            max-width: 36px;
            padding-left: 0;

            button {
              all: initial;
              font-size: 0;
              padding: 0;

              i {
                width: 24px;
                height: 24px;
                display: inline-flex;

                svg {
                  width: inherit;
                  height: inherit;
                }
              }
            }
          }

          .footer {
            flex-direction: column;

            > div[class*="col-"] {
              &:first-child {
              }

              &:last-child {
                flex-direction: row;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }

            .rating {
              i {
                width: 16px;
                height: 16px;
                display: inline-flex;

                &:not(:last-child) {
                  margin-right: 2px;
                }

                svg {
                  width: inherit;
                  height: inherit;

                  > path {
                    fill: var(--brand-orange);
                  }
                }
              }
            }

            .price {
              text-align: right;

              > span {
                display: inline-block;
                color: #e95244;
                text-align: right;

                &:first-child {
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 22px;
                  letter-spacing: -0.32px;
                  vertical-align: top;
                }
                &:last-child {
                  font-weight: bold;
                  font-size: 22px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }

    &[data-display-type="row"] {
      display: flex;
      flex-direction: row;
      max-height: 200px;

      .product {
        &-cover {
          width: 200px;
          border-radius: 24px 0 0 24px;
          overflow: hidden;
          flex-shrink: 0;
        }

        &-tag {
          left: initial;
          right: 6px;
          top: 6px;
        }

        &-summary {
          padding: 16px 24px;
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .header {
            margin-bottom: 16px;
            justify-content: space-between;
          }
          .author {
            // margin-bottom: 12px;
          }

          .title {
            // max-height: none;
            // overflow: hidden;
            flex-grow: 0.75;

            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              line-height: 22px;
              letter-spacing: -0.408px;
              color: var(--brand-primary);
              // margin: 0;
              max-height: 44px;
              overflow: hidden;
            }

            p.description {
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              letter-spacing: -0.24px;
              color: rgba(46, 43, 69, 0.6);
              max-height: 40px;
              overflow: hidden;
              margin: 0;
            }
          }

          .wish {
            max-width: 36px;
            padding-left: 0;

            button {
              all: initial;
              font-size: 0;
              padding: 0;

              i {
                width: 24px;
                height: 24px;
                display: inline-flex;

                svg {
                  width: inherit;
                  height: inherit;
                }
              }
            }
          }

          .footer {
            margin-top: auto;
            align-items: center;

            > .col {
              &:last-child {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
              }
            }

            .rating {
              margin-bottom: 8px;

              i {
                width: 16px;
                height: 16px;
                display: inline-flex;

                &:not(:last-child) {
                  margin-right: 2px;
                }

                svg {
                  width: inherit;
                  height: inherit;

                  > path {
                    fill: var(--brand-orange);
                  }
                }
              }
            }

            .price {
              text-align: right;

              > span {
                display: inline-block;
                color: #e95244;
                text-align: right;

                &:first-child {
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 22px;
                  letter-spacing: -0.32px;
                  vertical-align: top;
                }
                &:last-child {
                  font-weight: bold;
                  font-size: 22px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }

    .product {
      &-cover {
        img {
          z-index: 1;
        }
      }

      &-tag {
        z-index: 2;
        position: absolute;
        width: 62px;
        height: auto;
        padding: 4px 0;
        border-radius: 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.078px;
        color: var(--brand-white);

        &[data-product-type="course"] {
          background-color: var(--brand-violet);
        }
        &[data-product-type="podcast"] {
          background-color: var(--brand-orange);
        }
        &[data-product-type="video"] {
          background-color: var(--brand-green);
        }
        &[data-product-type="webinar"] {
          background-color: var(--brand-blue);
        }
      }
    }
  }

  &[data-card-type="video"] {
    &[data-display-type="col"] {
      .video {
        &-cover {
          border-radius: 24px 24px 0 0;
          overflow: hidden;

          .icon-play {
            width: 64px;
            height: 64px;
            display: inline-flex;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -32px;
            margin-left: -32px;

            svg {
              width: inherit;
              height: inherit;

              path {
                fill: #fff;
              }
            }
          }
        }

        &-summary {
          padding: 12px 16px;

          .title {
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #2e2b45;
            height: 44px;
            overflow: hidden;
          }

          .meta {
            margin-bottom: 4px;

            > span {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              letter-spacing: -0.078px;
              color: rgba(46, 43, 69, 0.6);

              &.bullet {
                font-size: 10px;
                margin: 0 2px;
              }
              &.premiere {
                color: #e95244;
                text-transform: uppercase;
              }

              i {
                width: 12px;
                height: 12px;
                display: inline-flex;

                svg {
                  width: inherit;
                  height: inherit;

                  path {
                    fill: rgba(46, 43, 69, 0.6);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
