@mixin inline-svg-icon($size: 24px, $fill: #000) {
  width: $size;
  height: $size;
  display: inline-flex;

  svg {
    width: inherit;
    height: inherit;

    path {
      fill: $fill;
    }
  }
}

@mixin button-reset() {
  background: none;
  border: 0;
  padding: 0;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
