// Breakpoints
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$desktop-min: 992px;
$desktop-max: 1199px;
$wide-min: 1400px;

$brand-primary: #2e2b45;
$brand-secondary: #f8d178;
$brand-orange: #e95244;
$brand-white: #fff;
$brand-violet: #656198;
$brand-green: #72b566;
$brand-blue: #2a6ddd;
