@import "navbar";
@import "footer";

body {
  min-height: 100vh;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
#app,
#app > main,
#app > main > .row {
  min-height: inherit;
}

#app > main {
  margin-top: -122px;
  padding-top: 122px;
}

small {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;

  &.tiny {
    font-size: 12px;
  }
}
