@use 'theme';
@use 'animations';

@use 'elements/tags';
@use 'elements/card';
@use 'elements/pill';
@use 'elements/hero';
@use 'elements/table';
@use 'elements/section';
@use 'elements/categories';

@use 'widgets/footer';
@use 'widgets/navbar';
@use 'widgets/carousel';
@use 'widgets/preloader';
@use 'widgets/breadcrumb';
@use 'widgets/pagination';
@use 'widgets/cards/video';
@use 'widgets/cards/product';

@use 'pages/index';
@use 'pages/explore';
@use 'pages/contentDetails.scss';

body {
  min-height: 100vh;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#app,
#app > main,
#app > main > .row {
  min-height: inherit;
}

#app > main {
  margin-top: -120px;
  padding-top: 120px;
}

small {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;

  &.tiny {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}
